{% extends 'extends/layout.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'О нас' %} {% endblock title %}
{% block page %} <a href="{% url 'home' %}">{% trans 'Главная' %}</a> <span class='intro__point'> </span><a href="{% url 'about' %}">{% trans 'О нас' %}</a>{% endblock page %} 
{% block header_title %} {% trans 'О нас' %} {% endblock header_title %}
        
        
{% block content %}
<section class="about">
    <div class="about__container">
        <div class="about__body">
            <div class="about__content">
                <p class="about__text">{% trans 'Совместное предприятие ООО «MKB GLOBAL POWER», было основано в 2021году в Узбекистане для удовлетворения внутренней и внешней потребности рынка в продукции, используемой в кабельной, текстильной промышленности.' %}</p>
                <p class="about__listitle">{% trans 'Производимая и реализуемая нами продукция делится на несколько категорий:' %}</p>
                <ul class="about__list">
                    <li class="about__item">{% trans 'Стандартные по типу и размеру продукцию (плоские, зубчатые, полуклиновые ремни, конвейерные ленты);' %}</li>
                    <li class="about__item">{% trans 'Различные по диаметру стальные U-образные скобы для крепления кабеля;' %}</li>
                    <li class="about__item">{% trans 'Термоусадочные трубки с дополнительным слоем термоплавкого клея, предназначеные для герметичной изоляции мест соединения проводов, коррозионной защиты;' %}</li>
                    <li class="about__item">{% trans 'Фильеры (алмазные, PSD и т.д.);' %}</li>
                    <li class="about__item">{% trans 'Керамические глазки более 1000 разновидностей;' %}</li>
                </ul>
                <p class="about__text">{% trans 'Основная задача – не просто производство и реализация продукции, а решение проблем клиентов с целью достижения эффективности их производства и снижения различных затрат.' %}</p>
                <p class="about__text">{% trans 'Подобный подход, практикуемый нами практически с самого начала деятельности уже позволил обрести множество постоянных клиентов и продолжить увеличивать их список, несмотря на изменения рынка и высокую конкуренцию.' %}</p>
                <p class="about__text">{% trans 'Существует гибкая система скидок в зависимости от объёма закупаемой продукции.' %}</p>
                <p class="about__text">{% trans 'В случае заинтересованности нашей продукцией мы можем предоставить Вам <span>образцы своей продукции</span>' %}.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

           